<a href="https://colab.research.google.com/github/PrinceRaj1161/PythonCodeWithHarry/blob/main/TillString.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Our First Program

In [ ]:
print(7)
print("Hello World",8)
print("Bye")

help(print)

7
Hello World 8
Bye
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Comments, Escape, Sequences & Print statement

## Comments

There are two types of comments.


1.   Multiline
2.   Single line

In [ ]:
# This is single line comment

''' This is multiline comment
Next line
'''

""" We can also use double quotes for
multiline comment """

print("Hello") #We can also use comment like this

Hello

## Escape sequence

In [ ]:
# Escape sequence is those characters that can be represented inside a print statement  or anywhere.
# Example: - newline, etc

print("Hello \nnewline World")

# We can also use it ""
print()
print("\"Hello World\"")

Hello
newline World

"Hello World"

## More about Print Statement

In [ ]:
help(print)

"""
print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.
"""

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

"\nprint(...)\n    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)\n\n    Prints the values to a stream, or to sys.stdout by default.\n    Optional keyword arguments:\n    file:  a file-like object (stream); defaults to the current sys.stdout.\n    sep:   string inserted between values, default a space.\n    end:   string appended after the last value, default a newline.\n    flush: whether to forcibly flush the stream.\n"

In [ ]:
# Let's see it one by one

# i) We can print multiple values at single time using ,
print(1,2,"Hello","King","Time",7.89)

# ii) sep :-
print(1,2,"Hello","King","Time",7.89,sep="~")

#iii) end: -
print(1,2,"Hello","King","Time",7.89,end="90")
print("Continued string")

# Combining both
print(1,2,"Hello","King","Time",7.89,sep="~",end="\\n")
print("Next thing")

1 2 Hello King Time 7.89
1~2~Hello~King~Time~7.89
1 2 Hello King Time 7.8990Continued string
1~2~Hello~King~Time~7.89\nNext thing

# Variables and Datatypes

In [ ]:
# Variables are like container used to assign values.
a = 45
b = True
c = "Harry"
d = None

print(a)
print(b)
print(c)
print(d)

45
True
Harry
None

In [ ]:
# Requirement for data types
Harry = 9
b = Harry
print(b)

#But we want literal Harry, but we didn't got one

9

In [ ]:
# There are many types of data-types, we are going to study it one by one.

# Type-1
# Numbers: - int, float, complex

a = 45
b = 1.34
c = complex(4,5)

print(a,type(a))
print(b,type(b))
print(c,type(c))

45 <class 'int'>
1.34 <class 'float'>
(4+5j) <class 'complex'>

In [ ]:
# Type-2
# String
st = "Hello World"
print(st,type(st))

Hello World <class 'str'>

In [ ]:
# Type-3
# boolean
a1 = True
b1 = False
print(a1,type(a1))
print(b1,type(b1))

True <class 'bool'>
False <class 'bool'>

In [ ]:
# Type-4
# Sequencial : - List, Tuple, dictionary

#List
li = [1,2,[3,4],"Hello"]
print(li,type(li))

#Tuple
tu= (1,2,3,[2,3],"Hello")
print(tu,type(tu))

dic = {"k1":1 , "K2" : 2}
print(dic,type(dic))

[1, 2, [3, 4], 'Hello'] <class 'list'>
(1, 2, 3, [2, 3], 'Hello') <class 'tuple'>
{'k1': 1, 'K2': 2} <class 'dict'>

# Exercise 1

In [ ]:
n = 8
m = 3

print(n,"+",m,"=",n+m)
print(n,"-",m,"=",n-m)
print(n,"*",m,"=",n*m)
print(n,"/",m,"=",n/m)
print(n,"**",m,"=",n**m)
print(n,"//",m,"=",n//m)

8 + 3 = 11
8 - 3 = 5
8 * 3 = 24
8 / 3 = 2.6666666666666665
8 ** 3 = 512
8 // 3 = 2

# Type-Casting

In [ ]:
a = "1"
b = "2"
print(a+b)

# We do type-casting, it is also known as type-conversion
a = int(a)
b = int(b)
print(a+b)

# a = "Harry"
# a = int(a)
# print(a)

12
3

## Types

In [ ]:
# There are two types of type-casting
# i) Explicit Conversion
# ii) Implicit Conversion

# i) Explict conversion: - I am doing the conversion as a programmer.

a = 45
b = "23"

#We do implict type-casting
b = int(b)  #We are telling here to convert it in int
print(a+b)

68

In [ ]:
# Implict casting
a = 2.4
b = 2
c = a+b
print(c,type(c)) #It automatically converts it into float

4.4 <class 'float'>

# Taking User Input

In [ ]:
# Input takes string prompt
a = input();
print(a)

#We can also input as
a = input("Enter a string: ")
print(a)

# In order to enter a perticular data type we use type-casting
a = int(input("Enter a number"))
print(a,type(a))

Hello
Hello
Enter a string: Ghdbd
Ghdbd
Enter a number23
23 <class 'int'>

# Strings

In [ ]:
# Anything enclosed in double quotes(" ") or single quotes (' ')is a sting
one = "Hello"
two = 'king'

print(one,two)

print("\n")

# Multiline string
multistr = """ Hello, This is multiline string
This is another line , this is
another one """
print(multistr)

print("\n")

# It can also be in triple single quotes.
multistr = ''' Hello, my name is
string args. Hello, king kanf
ansother one '''

print(multistr, type(multistr))

Hello king


 Hello, This is multiline string
This is another line , this is
another one


 Hello, my name is
string args. Hello, king kanf
ansother one  <class 'str'>

In [ ]:
# Accessing an element of string

str1 = "Hello"
print(str1[0])

multistr = ''' Hello, my name is
string args. Hello, king kanf
ansother one '''

for char in multistr:
  print(char)

H

H
e
l
l
o
,

m
y

n
a
m
e

i
s



s
t
r
i
n
g

a
r
g
s
.

H
e
l
l
o
,

k
i
n
g

k
a
n
f


a
n
s
o
t
h
e
r

o
n
e

# Strings Slicing and Operations on Strings

In [3]:
# slicing
str1 = "Hello,PrinceRaj"
print(str1[0:5]) #It is 0 to n-1 index

# Length of the string
str1 = len(str1)
print(str1)

Hello
15

In [5]:
#More slicing
str1="Hello,PrinceRaj"
print(str1[1:]) #It reads it as [1:len(str1)]

#We can also use negative indexing
print(str1[0:-2]) #It reads it as [0:len(str1)-2]

ello,PrinceRaj
Hello,PrinceR

# String Methods

In [7]:
# String are immutable

#Upper
a = "HASS dfhdhf dUu57"
print(a.upper()) #Converts to uppercase
print(a) #no changes take place

print("\n")

#lower
print(a.lower()) #Converts to lower case

HASS DFHDHF DUU57
HASS dfhdhf dUu57


hass dfhdhf duu57

In [9]:
# rstrip

#It works only for end of the string but not for the front of the string

a = "!!!Prince Raj!!!!!!"
print(a.rstrip("!")) #It only works for the end of the string not the front

!!!Prince Raj

In [10]:
# replace
# It simply replaces one string with another string

a = "Ram is a bad boy. "
print(a.replace("Ram","Sita"))

Sita is a bad boy.

In [11]:
# split
# It split and returns in form of list

a ="1,2,3,4,5,6,7"
str1 = a.split(",")
print(str1)

['1', '2', '3', '4', '5', '6', '7']

In [13]:
# Capitalize
# It makes first string as capital and rest as small

a = "king Ogd HSHavsjd"
print(a.capitalize())

King ogd hshavsjd

In [14]:
# center
# It places the string to a specified position

a = "Hello"
print(a.center(50,"."))

# In order to what it happening lets find the length of the string
print(len(a))
print(len(a.center(50,".")))

......................Hello.......................
5
50

In [16]:
#count
a = "qewtadafiuogfmhfgvksimkc,zkcbifsrsfkfpowkjfhe,kz;kmlsdioalkashngahstyuewidkjswnadoksvjgj"

print(a.count("h")) #There 4 h in the string a

4

In [18]:
# endswith

#Returns a boolean value, if the given string is at end of not
a = "Prince Raj"

print(a.endswith("aj"))

#We can also use substring.
print(a.endswith("ce",3,6))

True
True

In [30]:
# find
# Returns the starting index of the first occurence of the given string

a = "Soun's a bad boy. He left his watch."
print(a.find("is"))
print(a[26:])


# index is same as find but it returns error if we get false in find.

27
his watch.

In [22]:
#isalnum
# Checks if the string consists of only alphabet and numbers

a = "123gsjfgdvfsijvr492382738wbdshftet"
b = "aiufw7e8390o2e3iedisbjcjf80err8uir7ewkui fiehfamgj"
print(a.isalnum())
print(b.isalnum())

True
False

In [23]:
#isalpha
# Checks if the string consists of alphabet only

a = "Welcosdjs"
b = "sheuwq134"
print(a.isalpha())
print(b.isalpha())

True
False

In [24]:
#islower

# Checks if the string consists of no uppercase character.

a = "dgskma,[;'[sffks]]"
b = "shdsjnsm"
c = "Gbsjsnaj"

print(a.islower())
print(b.islower())
print(c.islower())

True
True
False

In [26]:
# isprintable

# Checks if the string is printable or not.

a = "difmemewro \n fhfdi"
b = "Adjvbnm fk,gmd ggmldkjgtkmdl"
print(a.isprintable())
print(b.isprintable())

False
True

In [27]:
#isspace

# Check if there is only spaces in the string

a = "         "
b = "         "

print(a.isspace())
print(b.isspace())

True
True

In [28]:
# istitle

# returns true if all starting words starts with uppercase and others are lowercase

a = "Abd akd Nbsua"
b = "SJD Ajdj Alns"
c = "Abd Bmdk Cfjn"

print(a.istitle())
print(b.istitle())
print(c.istitle())

False
False
True

In [29]:
# isupper

a = "JADUSJAFSJ"
b = "JGBSJANndjhks"
print(a.isupper())
print(b.isupper())

True
False

In [31]:
# startswith

a = "Python is an extremely easy language."
print(a.startswith("Python"))

True

In [32]:
#swapcase
#Converts lower to upper and upper to lower

a = "JjLKIJuGJGukgJHIYujOgmj"
print(a.swapcase())

jJlkijUgjgUKGjhiyUJoGMJ

In [33]:
#title
# Converts each starting of the word to uppercase and rest as lower case

a = "Hello , I am prince raj"
print(a.title())

Hello , I Am Prince Raj