<a href="https://colab.research.google.com/github/PrinceRaj1161/PythonCodeWithHarry/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If Else

In [1]:
a = int(input("Enter the age"))
print("The age is: ",a)

if a>18:
  print("You can drive.")
else :
  print("You can't drive")

Enter the age12
The age is:  12
You can't drive

In [2]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
print(time.strftime('%H'))
print(time.strftime('%M'))
print(time.strftime('%S'))

02:53:40
02
53
40

In [3]:
import time

x = int(time.strftime('%H'))
if (x<12):
  print("Good Morning")
elif (x<16):
  print("Good Afternoon")
elif (x<19) :
  print("Good Evening")
else :
  print("Good Night")

Good Morning

# Match Case

In [6]:
#  It's like switch case but still different

a = int(input("Enter the number: "))
match a:
  case 0:
    print("a is zero.")
  case 4 if a%2==0 :
    print("x%2==0 and case is 4")
  case _ if a < 10:
    print("a is negative")
  case _:
    print("This is deafult")

Enter the number: 23
This is deafult

# for loop

In [7]:
# for string

a = "Hello World"
for i in a:
  print(i,end=", ")

H, e, l, l, o,  , W, o, r, l, d,

In [9]:
#for list

a = ['abs','ajsb','dujeb','aisjsd','hddfb']
for i in a:
  print(i)
  for j in i:
    print(j,end=", ")
  print()

abs
a, b, s,
ajsb
a, j, s, b,
dujeb
d, u, j, e, b,
aisjsd
a, i, s, j, s, d,
hddfb
h, d, d, f, b,

In [10]:
# range

for i in range(5):
  print(i,end=", ")

0, 1, 2, 3, 4,

In [11]:
# range for a range

for i in range(5,10):
  print(i,end=", ")

5, 6, 7, 8, 9,

In [12]:
# range as in A.P

for i in range(1,45,2):
  print(i,end=", ")

1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43,

# While loop

In [13]:
# while loop

i = 5
while i>=0:
  print(i,end=", ")
  i=i-1

5, 4, 3, 2, 1, 0,

In [16]:
# while loop with else

i = 12
while(i>0):
  print(i,end=", ")
  i = i-1
else:
  print("\nNow i is zero",i)

12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1,
Now i is zero 0

# Break and Continue

In [17]:
# break
for i in range(1,100):
  print(i,end=", ")
  if i==10:
    break

#It breaks at end and doesn't move forward

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [19]:
#continue
for i in range(1,100):
  if(i%5!=0):
    continue
  print(i,end=", ")

#Prints only multiple of 5

5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95,

# Functions

In [20]:
#Defining the function
def ameans(a,b):
  print((a+b)/2)

#Calling the function
ameans(12,45)

28.5

In [21]:
#Use of pass
def ameans(a,b):

a = 45
b = 12

ameans(a,b)

#It would give error

IndentationError: expected an indented block after function definition on line 2 (<ipython-input-21-085cc0526621>, line 4)

In [22]:
# In order to avoid the above error, we use pass

def ameans(a,b):
  pass

a = 45
b = 12

ameans(a,b)